<div class="popup-window logout" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
        <h1>Confirm Logout!</h1>
        <div class="close-btn" onclick="toggleActive()">&times;</div>
        <div class="form-control">
            <button class="submit-logout submit" onclick="submitLogout()">
                <span class="buttonText">Confirm</span>
            </button>
        </div>
    </div>
</div>