.navbar{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-auto-rows: minmax(100px, auto);
    height: 100px;
    /* background: rgb(20, 4, 255);
    background: linear-gradient(0deg, rgb(20, 4, 255) 0%, rgb(134, 126, 247) 25%, rgb(255, 255, 255) 100%); */
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(37, 37, 37) 0%, rgb(147, 146, 161) 25%, rgb(255, 255, 255) 100%);
}

.navbar{
    position: fixed;
    width: 100%;
}

.side-menu-open{
    grid-column: 1/3;
    position: relative;
}

.proPic-div-small{
    margin: 0 auto;
    padding: 5px;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    text-align: center;
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.proPic-small{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
}

.proPic-div-small:hover{
    height: 85px;
    width: 115px;
    background-color: rgb(187, 184, 184);
}

.header{
    grid-column: 3/7;
    position: absolute;
    left:-40px;
    top: 20px;
}

.header h1{
    margin: 0;
    color: rgb(20, 4, 255);
}

.header h4{
    margin: 0;
    color: white;
}

/* search bar */

.search-box{
    position: relative;
    grid-column: 7/11;
    background: rgb(0, 0, 0);
    background: linear-gradient(135deg, rgb(85, 83, 83) 0%, rgb(139, 146, 146) 35%, rgba(255,255,255,1) 80%);
    height: 40px;
    border-radius: 40px;
    display: flex;
    padding: 5px;
    margin-top: 15px;
    align-items: center;
}

.search-box > *{
    position: absolute;
    right: 0;
}

.search-btn{
    color: #ffffff;
    float: right;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #626b6b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    margin-right: 2px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}

.search-txt::placeholder{
    font-weight: bold;
    color: black;
}

.search-box:hover > .search-txt,
.search-txt:focus{
    width: 345px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    color: #909191;
    background:rgb(0, 0, 0);
}

.filter-check{
    color: #ffffff;
    display: block;
    position: absolute;
    top: 50px;
    left: 10px;
}

.filter-check label{
    color: #000000;
}

/*  */

.nav-list{
    grid-column: 11/16;
    position: relative;
}

.ul{
    list-style-type: none;
    padding: 5px 0;
    padding-top: 8px;
    position: absolute;
    left: 55px;
    bottom: 50px;
    /* background-color: rgb(255, 255, 255); */
    height: 45px;
    width: 361px;
}

.nav-list a{
    display: inline-block;
    /* height: 50px;
    width: 87px; */
    padding: 6px 31px;
    padding-top: 16px;
    margin: 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
    /* position: relative; */
}

.nav-list a:hover{
    background: #ffffff;
}

.nav-list a:focus{
    background: #b7b9b9;
}

.navIcon{
    height: 25px;
    width: 25px;
    /* position: absolute; */
    /* bottom: 15px; */
    /* left: 20px; */
}

/* tool tip */
  
.toolTipText {
    visibility: hidden;
    font-size: small;
    width: 87px;
    background-color: black;
    color: #fff;
    text-align: center;
    /* border-radius: 6px; */
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -50px;
    left: 10;
    margin-left: -56px;
}
  
.nav-list a:hover .toolTipText {
    visibility: visible;
}

/*  */