*{
    font-family: cursive, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    box-sizing: border-box;
    background: rgb(0,255,247);
    background: linear-gradient(315deg, rgba(0,255,247,1) 0%, rgba(103,244,255,1) 9%, rgba(255,255,255,1) 71%);
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: relative;
    height: 100vh;
}

.main-section{
    grid-column: 1/13;
    grid-row: 2/13;
    margin: 20px;
    text-align: center;
}

#editBlogForm{
    margin: auto;
    min-height: 80vh;
    max-height: fit-content;
    min-width: 90vw;
    max-width: fit-content;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    border: 2px black solid;
}