@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    box-sizing: border-box;
    /* background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgb(0, 0, 0) 0%, rgb(77, 81, 82) 9%, rgba(255,255,255,1) 71%); */
    background: white;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: repeat(12, 1fr); */
    width: 100vw;
    height: 100vh;
}

.main-section{
    grid-column: 1/13;
    /* grid-row: 2/13; */
    margin: 20px;
    margin-top: 100px;
    padding: 20px;
}

.blog-link{
    display: block;
}