<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/preview.css">
        <link rel="stylesheet" href="/assets/partial_styles/navbar.css">
        <title>BlogSchema</title>
    </head>

    <body>

        <div class="wrapper">

            <nav class="navbar">

                <!-- <img src="./resources/verify_email_icon.jpg" alt="Profile picture" class="profile pic small"> -->
                <!-- <span onclick="openNav()" class="side-menu-open">&#62;</span> -->
                
                <div class="header">
                    <h1>#BlogSchema...</h1>
                </div>
            
                <div class="nav-list">
            
                    <ul>
            
                        <li><a href="/main" class="navItem main">Home</a></li>
                        <li><a href="/myBlogs" class="navItem my-blogs">My Blogs</a></li>
                        <!-- <li><a href="/newBlog" class="navItem newBlog">New Blog</a></li> -->
                        <!-- <li><a href="/settings" class="navItem settings">Settings</a></li> -->
                        <li><a href="/about" class="navItem about">about</a></li>
                        <div id="indicator"></div>
            
                    </ul>
            
                </div>
            
            </nav>
    
            <section class="main-section">

                
    
            </section>

        </div>

    </body>

    <script src="/javascript/pageDirect.js"></script>
    <!-- <script src="/javascript/animation.js"></script>
    <script src="/javascript/confirmation.js"></script> -->

</html>