<!DOCTYPE html>
<html>

    <head>
        <title>Verify Email</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/verify.css" />
    </head>

    <body class="main">

        <div class="content">

            <div class="title container">

                <h1>#BlogSchema...</h1>
                <h3>Express yourself in style...</h3>

            </div>

            <div class="link container">
                <div class='box center'>

                    <img src="/resources/verify_email_icon.jpg" alt="img_icon" class="verify-mail-icon">

                    <div>
                        <h2>Please Verify Your Email Address..!</h2>
                    </div>
            
                    <div class="question">
                        <!-- <br><br> -->
                        <span class="q send">Haven't Received Your Email?</span>
                        <!-- <br> -->
                        <!-- <div class="re send">
                            <a onclick="return createTimedLink(this, myFunction, 2000);" href="<%= //'/sendemailagain/' + id %> " class="link1" id="link"> Click Here to Re-send</a>
                        </div> -->

                        <div class="re send">
                            <a href="<%= '/sendemailagain/' + id %> " class="link1" id="link"> Click Here to Re-send</a>
                        </div>
            
                    </div>
                    
                    <div class="form-control">
                        <a class="log" href="/login">Back to Login</a>
                    </div>

                </div>

            </div>

        </div>
        
    </body>

    <!-- <script>
        function createTimedLink(element, callback, timeout){
            setTimeout( function(){callback(element);}, timeout);
            return false;
        }

        function myFunction(element) {
            window.location = element.href;
        }
    </script> -->

</html>