<!DOCTYPE html>
<html>
    <head>
        <title>Email Verrified</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link type ="text/css" rel="stylesheet" href="/css/verified.css"/>
    </head>

    <body>

        <div class="content">

            <div class="title container">

                <h1>#BlogSchema...</h1>
                <h3>Express yourself in style...</h3>

            </div>

            <div class="content container">

                <div class='box center'>

                    <img src="/resources/verified_email_icon.jpg" alt="img_verified" class="verified-mail-icon">
                   
                    <div class="ver">
                        <h2>Verification Successful..!</h2>
                    </div>
                    
                    <div class="form-control">
                       <a href="/login" class="log"> Login To Your Account</a>
                    </div>
                </div>

            </div>

        </div>
        
    </body>

</html>